+++
title = "OpenLift"
linkTitle = "OpenLift"
+++

{{< blocks/cover title="OpenLift: Der Fräslift zum selber bauen!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto" style="padding-top: 100px;">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Mehr erfahren <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Dokumentation <i class="fas fa-file ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-success mr-3 mb-4" href="https://nachdenksport.de/product/komplettbausatz-openlift-v1/">
		Nachdenksport Bausatz
		<i class="fas fa-shopping-cart ml-2"></i>
	</a>
	<br>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Der Nachdenksport OpenLift ist ein Fräslift, speziell entwickelt für kleinere Oberfräsen. Ein vollwertiger Fräslift für die Hobby-Holzwerkstatt.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Zum selber bauen" %}}
Wer einen 3D-Drucker besitzt kann sich den OpenLift zusammen mit ein paar Normteilen komplett selber bauen. Alternativ gibt es alle Komponenten als Bausatz oder einzeln auch zu kaufen.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-compress-arrows-alt" title="Speziell für kleine Oberfräsen" url="/about" %}}
Der OpenLift ist auf Oberfräsen mit einer Leistung <800 Watt ausgelegt. Egal ob Anfasen, Bündigfräsen, Nuten mit kleinerem Fräserdurchmesser und wenig Zustellung oder einfache Profilfräsungen. Mit nur 200x160mm Grundfläche findet er auch in kleinen Werkstätten platz.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-tools" title="Diese Fräsen passen bereits" %}}
<i class="fas fa-check"></i> Makita RT0700C, <i class="fas fa-check"></i> Makita DRT50, <i class="fas fa-check"></i> Katsu
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Technische Informationen</h1>

{{< card header="Funktionen" >}}
<ul>
	<li>Stufenlose Höhenverstellung von oben und unten</li>
	<li>Einfache Nivellierung der Einlegeplatte über 4 Nivellierschrauben</li>
	<li>Leichtgängige Spindelsäule</li>
	<li>Zweifach-Arretierung der Höhenverstellung an Spindel und Linearführung</li>
	<li>Magnetisch, austauschbarer Reduzierring</li>
	<li>Schlüsselanschlag für einen einfachen Fräserwechsel</li>
	<li>Freifräsanschlag mit Kugellageraufnahme</li>
</ul>
{{< /card >}}

{{< card header="Technische Daten" >}}
<ul>
	<li>Maß Einlegeplatte: 200x160x10mm</li>
	<li>Eckenradius Einlegeplatte: 10mm</li>
	<li>Höheneinstellweg/Umdrehung: 3mm</li>
	<li>Höhe Fräslift (max. ausgefahren): 210mm</li>
	<li>Max. Einstellweg: 86mm</li>
	<li>Max. Fräserdurchmesser: 60 mm (ohne Einlegering)</li>
	<li>Kompatible Oberfräse: Makita RT0700C oder baugleiche Maschinen (Katsu, Makita DRT50)</li>
</ul>
{{< /card >}}
</div>

{{< /blocks/section >}}
